# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# More information on profiles: https://jhipster.github.io/profiles/
# More information on configuration properties: https://jhipster.github.io/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

management:
    context-path: /management
    health:
        mail:
            enabled: false # When using the MailService, configure an SMTP server and set this to true
spring:
    application:
        name: MOOS Catalog
    profiles:
        # The commented value for `active` can be replaced with valid Spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: PROD, AMQP
        include:
    jackson:
        serialization.write_dates_as_timestamps: false


# ===================================================================
# MOOS Catalog specific properties
# ===================================================================
application:
    rabbitmq:
        adresses: localhost:5672,localhost:5673,localhost:5674,localhost:5675
        username: guest
        password: guest
        concurrentConsumers: 10
        maxConcurrentConsumers: 20
        prefetchCount: 50
